

<div class="row">
  <div class="col-lg-4 col-md-6">
      <div class="panel panel-green">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-12 text-right">
                      <div class="huge"><%= s_in.total %></div>
                      <div>Total Income</div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="col-lg-4 col-md-6">
      <div class="panel panel-yellow">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-12 text-right">
                      <div class="huge"><%= s_out.total %></div>
                      <div>Total Expense</div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="col-lg-4 col-md-6">
      <div class="panel panel-primary">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-12 text-right">
                      <% total_in_out = ((t = s_in.total) ? t : 0) - ((t = s_out.total) ? t : 0) %>
		      <div class="huge"><%= total_in_out %></div>
                      <div>Net Income</div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
