<%= form_for(@account_movement) do |f| %>
  <% if @account_movement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account_movement.errors.count, "error") %> prohibited this account_movement from being saved:</h2>

      <ul>
      <% @account_movement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">

  <div class="form-group">
    <%= f.label :synopsis %><br>
    <%= f.text_field :synopsis, class:"form-control", placeholder:"Synopsis" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class:"form-control", placeholder:"Description" %>
  </div>
  <div class="form-group">
    <%= f.label :amount %><br>
    <div class="input-group">
    <span class="input-group-addon">$</span>
    <%= f.text_field :amount, class:"form-control", placeholder:"Amount", type:"number", step:"any" %>
  </div></div>
  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.date_field :date, :value => Time.now.strftime('%Y-%m-%d'), class:"form-control" %>
  </div>
  <%= hidden_field_tag "account_movement[income_output]", @account_movement.income_output %>
  <div class="form-group">
    <%= f.submit class:"btn btn-default"%>
  </div>
</div>
    <div class="col-xs-12 col-sm-6 col-md-6">

  <div class="form-group">
    <%= f.label :movement_state_id %><br>
    <%= f.select :movement_state_id, options_for_select(enumerable_to_combo_items(@states)), 
      {}, {class:"form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :category_id %><br>
    <%= f.select :category_id, options_for_select(enumerable_to_combo_items(@categories)), 
      {}, {class:"form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :movement_type_id %><br>
    <%= f.select :movement_type_id, options_for_select(enumerable_to_combo_items(@types)), 
      {}, {class:"form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :cost_center_id %><br>
    <%= f.select :cost_center_id, options_for_select(enumerable_to_combo_items(@cost_centers)), 
      {}, {class:"form-control"} %>
  </div>
</div>
</div>
<% end %>
