<div class="container-fluid">
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Account Movements <small>Listing</small>
        </h1>
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="btn-group btn-group-justified action-group" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <%= link_to 'Create Income', new_account_movement_path(:income_output=> true), class:"btn btn-default" %>
      </div>
      <div class="btn-group" role="group">
        <%= link_to 'Create Expense', new_account_movement_path(:income_output=> false), class:"btn btn-default" %>
      </div>
    </div>
  </div>
</div>

<%= render 'account_movements_summary', {s_in: @summary_incomes, s_out: @summary_outcomes} %>

<div class="row">
  <div class="col-lg-12">

<div class="panel panel-default">
  <div class="panel-heading">Incomes</div>
<table class="table">
  <thead>
    <tr>
      <th>Synopsis</th>
      <th>Amount</th>
      <th>State</th>
      <th>Category</th>
      <th>Type</th>
      <th>C. Center</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @account_incomes.each do |account_movement| %>
      <tr>
        <td><%= account_movement.synopsis %></td>
        <td><%= account_movement.amount %></td>
        <td><%= account_movement.movement_state.try(:name) %></td>
        <td><%= account_movement.category.try(:name) %></td>
        <td><%= account_movement.movement_type.try(:name) %></td>
        <td><%= account_movement.cost_center.try(:name) %></td>
        <td><%= account_movement.date %></td>
        <td><%= link_to 'Show', account_movement %></td>
        <td><%= link_to 'Edit', edit_account_movement_path(account_movement) %></td>
        <td><%= link_to 'Destroy', account_movement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>

<div class="row">
<div class="col-lg-12">


<div class="panel panel-default">
  <div class="panel-heading">Expenses</div>
<table class="table">
  <thead>
    <tr>
      <th>Synopsis</th>
      <th>Amount</th>
      <th>State</th>
      <th>Category</th>
      <th>Type</th>
      <th>C. Center</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @account_outputs.each do |account_movement| %>
      <tr>
        <td><%= account_movement.synopsis %></td>
        <td><%= account_movement.amount %></td>
        <td><%= account_movement.movement_state.try(:name) %></td>
        <td><%= account_movement.category.try(:name) %></td>
        <td><%= account_movement.movement_type.try(:name) %></td>
        <td><%= account_movement.cost_center.try(:name) %></td>
        <td><%= account_movement.date %></td>
        <td><%= link_to 'Show', account_movement %></td>
        <td><%= link_to 'Edit', edit_account_movement_path(account_movement) %></td>
        <td><%= link_to 'Destroy', account_movement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
</div>
