<div class="container-fluid">
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Account Movements <small>New</small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
		<%= render 'form' %>
	</div>
</div>

<div class="row">
    <div class="col-lg-12">
		<%= link_to 'Back', account_movements_path, class:"btn btn-default" %>
	</div>
</div>

</div>
