<p id="notice"><%= notice %></p>

<p>
  <strong>Synopsis:</strong>
  <%= @account_movement.synopsis %>
</p>

<p>
  <strong>Description:</strong>
  <%= @account_movement.description %>
</p>

<p>
  <strong>Income output:</strong>
  <%= @account_movement.income_output %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @account_movement.amount %>
</p>

<p>
  <strong>State:</strong>
  <%= @account_movement.movement_state_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @account_movement.category_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @account_movement.movement_type_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @account_movement.date %>
</p>

<p>
  <strong>Company:</strong>
  <%= @account_movement.company_id %>
</p>

<%= link_to 'Edit', edit_account_movement_path(@account_movement) %> |
<%= link_to 'Back', account_movements_path %>
