<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Dashboard <small>Summary</small>
        </h1>
    </div>
</div>


<p>Find me in app/views/welcome/index.html.erb</p>

<a href="http://ironsummitmedia.github.io/startbootstrap-sb-admin/index.html">admin page tempalte</a>
