<div class="container-fluid">
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Movement States <small>Listing</small>
        </h1>
    </div>
</div>

<!-- Action Bar -->
<div class="row">
  <div class="col-lg-12">
    <div class="btn-group btn-group-justified action-group" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <%= link_to 'New Movement state', new_movement_state_path, class:"btn btn-default" %>
      </div>
      <div class="btn-group" role="group">
        <%= link_to 'Movement States Report', '#', class:"btn btn-default" %>
      </div>
    </div>
  </div>
</div>

<!-- General Info -->
<p class="lead">
Almost every payment passes through a series of steps. Movement States handle these, with this you can monitor each movement through its life cyle.</p>

<!-- Main Page Content -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Total Items</th>
      <th>Pay/Recieve</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movement_states.each do |movement_state| %>
      <tr>
        <td><%= movement_state[:name] %></td>
        <td><%= movement_state[:total_items] %></td>
        <td><%= movement_state[:total_in_out] %></td>
        <td><%= link_to 'Show', movement_state_path(movement_state[:id]) %></td>
        <td><%= link_to 'Edit', edit_movement_state_path(movement_state[:id]) %></td>
        <td><%= link_to 'Destroy', movement_state_path(movement_state[:id]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div></div></div><!-- ./Row -->

</div><!-- ./Container fluid -->
