<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movement_state.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @movement_state.company_id %>
</p>

<%= link_to 'Edit', edit_movement_state_path(@movement_state) %> |
<%= link_to 'Back', movement_states_path %>
