<%= form_for(@cost_center) do |f| %>
  <% if @cost_center.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cost_center.errors.count, "error") %> prohibited this cost_center from being saved:</h2>

      <ul>
      <% @cost_center.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
