<div class="container-fluid">
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Cost Centers <small>Listing</small>
        </h1>
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="btn-group btn-group-justified action-group" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <%= link_to 'New Cost center', new_cost_center_path, class:"btn btn-default" %>
      </div>
      <div class="btn-group" role="group">
        <%= link_to 'Cost Centers Report', '#', class:"btn btn-default" %>
      </div>
    </div>
  </div>
</div>

<!-- General Info -->
<p class="lead">
Cost Centers are easy explained by its definition: A department within an organization that does not directly add to profit, but which still costs an organization money to operate. I.e. grouping of costs by department.</p>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Total Items</th>
      <th>Total Income</th>
      <th>Total Expense</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cost_centers.each do |cost_center| %>
      <tr>
        <td><%= cost_center[:name] %></td>
        <td><%= cost_center[:total_items] %></td>
        <td><%= cost_center[:total_in] %></td>
        <td><%= cost_center[:total_out] %></td>
        <td><%= link_to 'Show', cost_center_path(cost_center[:id]) %></td>
        <td><%= link_to 'Edit', edit_cost_center_path(cost_center[:id]) %></td>
        <td><%= link_to 'Destroy', cost_center_path(cost_center[:id]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div></div></div><!-- ./Row -->

</div><!-- ./Container fluid -->
