<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cost_center.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @cost_center.company_id %>
</p>

<%= link_to 'Edit', edit_cost_center_path(@cost_center) %> |
<%= link_to 'Back', cost_centers_path %>
