<div class="container-fluid">
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            My Company <small>Index</small>
        </h1>
    </div>
</div>

<!-- Action Bar -->
<div class="row">
  <div class="col-lg-12">
    <div class="btn-group btn-group-justified action-group" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <%= link_to 'Add User', '#', class:"btn btn-default" %>
      </div>
      <div class="btn-group" role="group">
        <%= link_to 'Edit', edit_company_path(@company), class:"btn btn-default" %>
      </div>
      <div class="btn-group" role="group">
        <%= link_to 'Destroy', @company, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default" %>
      </div>
    </div>
  </div>
</div>

<!-- General Info -->
<p class="lead">
Here you can edit you company data and create new users to it.</p>


<!-- Main Page Content -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">

	<div class="panel-body">
    <h1><%= @company.name %></h1>
  </div>


</div></div></div><!-- ./Row -->



<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      
<table class="table">
  <thead>
    <tr>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user[:email] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div></div></div><!-- ./Row -->

</div>