<%= form_for(@movement_type) do |f| %>
  <% if @movement_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movement_type.errors.count, "error") %> prohibited this movement_type from being saved:</h2>

      <ul>
      <% @movement_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.number_field :company_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
