<div class="container-fluid">

<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">
          Movement Types <small>Listing</small>
      </h1>
  </div>
</div>

<!-- Action Bar -->
<div class="row">
  <div class="col-lg-12">
    <div class="btn-group btn-group-justified action-group" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <%= link_to 'New Movement type', new_movement_type_path, class:"btn btn-default" %>
      </div>
      <div class="btn-group" role="group">
        <%= link_to 'Movement Types Report', '#', class:"btn btn-default" %>
      </div>
    </div>
  </div>
</div>

<!-- General Info -->
<p class="lead">
For an easy explanation the most common movement types are fixed and variable income/expence. In this page you can create your own types. Types are mostly asociated with the fecuency of some movement.</p>


<!-- Main Page Content -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Total Items</th>
      <th>Total Income</th>
      <th>Total Expense</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movement_types.each do |movement_type| %>
      <tr>
        <td><%= movement_type[:name] %></td>
        <td><%= movement_type[:total_items] %></td>
        <td><%= movement_type[:total_in] %></td>
        <td><%= movement_type[:total_out] %></td>
        <td><%= link_to 'Show', movement_type_path(movement_type[:id]) %></td>
        <td><%= link_to 'Edit', edit_movement_type_path(movement_type[:id]) %></td>
        <td><%= link_to 'Destroy', movement_type_path(movement_type[:id]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div></div></div><!-- ./Row -->

</div><!-- ./Container fluid -->

