<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movement_type.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @movement_type.company_id %>
</p>

<%= link_to 'Edit', edit_movement_type_path(@movement_type) %> |
<%= link_to 'Back', movement_types_path %>
