<div class="container-fluid">
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Categories <small>Listing</small>
        </h1>
    </div>
</div>

<!-- Action Bar -->
<div class="row">
  <div class="col-lg-12">
    <div class="btn-group btn-group-justified action-group" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <%= link_to 'New Category', new_category_path, class:"btn btn-default" %>
      </div>
      <div class="btn-group" role="group">
        <%= link_to 'Categories Report', '#', class:"btn btn-default" %>
      </div>
    </div>
  </div>
</div>

<!-- General Info -->
<p class="lead">
Categories is just a way to classify different incomes or expences. They offer an aditional clasification system than Cost Centers.</p>

<!-- Main Page Content -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Total Items</th>
      <th>Total Income</th>
      <th>Total Expense</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category[:name] %></td>
        <td><%= category[:total_items] %></td>
        <td><%= category[:total_in] %></td>
        <td><%= category[:total_out] %></td>
        <td><%= link_to 'Show', category_path(category[:id]) %></td>
        <td><%= link_to 'Edit', edit_category_path(category[:id]) %></td>
        <td><%= link_to 'Destroy', category_path(category[:id]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div></div></div><!-- ./Row -->

</div><!-- ./Container fluid -->
