<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <%= link_to site_name, root_path, class: "navbar-brand" %>
  </div>

  <!-- Top Menu Items -->
  <% unless user_signed_in? %><!-- No one signed in -->

    <ul class="nav navbar-right top-nav">
      <li><%= button_to 'Sign up', registration_path(:user), class: "btn btn-default navbar-btn" %></li>
    </ul>

    <%= form_for(:user, :url => session_path(:user), html: {class: "navbar-form navbar-right"} ) do |f| %>
      <div class="form-group">
        <%= f.text_field :email,  placeholder: "Email", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
      </div>
      <%= f.submit 'Sign in', class: "btn btn-success" %>
    <% end %><!-- ./form -->

  <% else %><!-- Client signed in -->
    <ul class="nav navbar-right top-nav">
      <li><p class="navbar-text">Signed in as <a href="#" class="navbar-link"><%= current_user.email %></a></p></li>
      <li><%= button_to 'Sign out', destroy_session_path(:user), method: :delete, class: "btn btn-default navbar-btn" %></li>
    </ul>
    <%= render 'layouts/sidebar'%>
  <% end %>
</nav>


            