<div class="navbar-collapse navbar-ex1-collapse collapse" aria-expanded="false" style="height: 1px;">
    <ul class="nav navbar-nav side-nav">
        <li <%= nav_active root_path %> >
            <a href="<%= root_path %>"><i class="fa fa-dashboard"></i> <%= t(:dashboard) %></a>
        </li>
        <li <%= nav_active account_movements_path %> >
            <a href="<%= account_movements_path %>"><i class="fa fa-money"></i> <%= t(:account_movements) %></a>
        </li>
        <li <%= nav_active cost_centers_path %> >
            <%= link_to t(:cost_centers), cost_centers_path %>
        </li>
        <li <%= nav_active movement_states_path %> >
            <%= link_to t(:movement_states), movement_states_path %>
        </li>
        <li <%= nav_active categories_path %> >
            <%= link_to t(:categories), categories_path %>
        </li>
        <li <%= nav_active movement_types_path %> >
            <%= link_to t(:movement_types), movement_types_path %>
        </li>
        <li <%= nav_active companies_path %> >
            <%= link_to t(:company), companies_path %>
        </li>
    </ul>
</div>