<!DOCTYPE html>
<html>
<head>
  <title><%= site_name %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
		<% unless current_user %>
			<!-- Navigation -->
			<%= render 'layouts/nav_bar' %>
		    <%= render partial: "layouts/flash_messages", flash: flash %> 
			<%= yield %>
		<% else %>
			<div id="wrapper">
				<!-- Navigation -->
				<%= render 'layouts/nav_bar' %>
				<div id="page-wrapper">
					<%= render partial: "layouts/flash_messages", flash: flash %> 
					<%= yield %>
			 	</div>
		 	</div>
		<% end %>
</body>
</html>